.about-container{
    margin: auto;
    width: 60%;
    border: 3px double blue;
    padding: 45px; 
}
.form-container{
    margin: auto;
    width: 60%;
    border: 3px double blue;

    padding: 50px; 
}
.container{
    margin: auto;
    width: 60%;
    border: 3px double blue;
    padding: 50px; 
}
#to-do-form.button{
    color: blue;
}